@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    max-width: 1080px;
    margin: auto;
}

:root {
    scroll-behavior: smooth;
    --itinerary-text-color:#FFFFFF;
}

header .background-header{
    position: relative;
}
header .background-content {
    background-image: url(../img/bcgd-chornobyl.jpg);
    background-size: cover;
    }
header .background-header svg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
header .background-header svg path {
  fill: #fff;
}
header .tours-logo{
    background-position: center;
    max-width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}
@media (min-width: 620px) {
    .main-line {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 801px) {
    .main-line {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.main-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    }

.header-tourslogo {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    font-family: Dosis, sans-serif;
    }
.logo img{
    width: 100px;
    height: 100px;
}
.header-tourslogotwo {
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    font-family: Dosis, sans-serif;
    }

/*CSS for menu*/

.burger-icon {
    font-size: 35px;
    font-weight: 400;
    color: #fff;
    margin-left: 25px;
}

header .navbar {
    display: flex;
    justify-content: center;
    flex: 1;
    background: solid;
    font-size: 16px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
}
.navbar a {
  float: left;
  color: #f1c324;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  color: #f1c324;
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #f1c324;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 2px;
}

.dropdown-content a {
  float: none;
  color: black;
  font-weight: 400;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Modal CSS*/
button,
input [type = "submit"] {
    background-color: solid;
    color: black;
    cursor: pointer;
}
button:focus {
    outline: none;
}
.modalourtours {
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    position: fixed;
    display: block;
}
.modalourtours.show-modal {
  display: block;
}

.modal-contant-menu {
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.headermenumodal {
  background: var(--secondary-color);
  color: #fff;
  padding: 50px;;
}

.closebutton {
    font-size: 35px;
    color: var(--main-color);
    text-decoration: none;
    background: transparent;
    font-size: 25px;
    font-family: none;
    position: absolute;
    padding: 0px;
    right: 0;
    padding-right: 30px;
}

.closebutton:hover {
    text-shadow: 0px 0px 10px #f33a3a;
    font-weight: bold;
}

.modal-content-menu-ourtours {
  padding: 20px;
  background-color: var(--primary-color);
}

.modal-content-menu-ourtours a {
    color: var(--menu-color);
    font-size: 17px;
    font-family: var(--main-font-family);
    text-decoration: none;
    font-weight: bolder;
}


.modal-content-menu-ourtours {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    color: #fff;
    padding-left: 50px;
}


@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}