@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    max-width: 1080px;
    margin: auto;
}

:root {
    scroll-behavior: smooth;
    --itinerary-text-color:#FFFFFF;
    --navbar-text-color: #f1c324;

}

header .tours-logo {
    background-image: url(../img/bcgd-chornobyl.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    }

@media (min-width: 620px) {
    .main-line {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 801px) {
    .main-line {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.main-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    }

.header-tourslogo {
    font-size: 25px;
    font-weight: 700;
    color: var(--itinerary-text-color);
    font-family: Dosis, sans-serif;
    }
.logo img{
    width: 100px;
    height: 100px;
}
.header-tourslogotwo {
    font-size: 19px;
    font-weight: 500;
    color: var(--itinerary-text-color);
    font-family: Dosis, sans-serif;
    text-decoration: underline;
    }
.header-tourslogotwo :hover {
    text-decoration: underline;
}
header .container-fluid {    
    font-size: 20px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
}

header .navbar-nav {
    display: flex;
    justify-content: center;
    flex: 1;
}
.navbar-dark,
.navbar-nav,
.nav-link {
    color: var(--navbar-text-color) !important;    
}


@media (min-width: 620px) {
    .banner {
    display: flex;
    }
}
    
.banner {
    justify-content: center;
    }
#banner {
    border-width: 10px;
    border-color: var(--itinerary-text-color);
    border-style: solid;
    margin-bottom: 50px;
    max-width: 100%;
    }

/* Sasha second page end */
