@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    max-width: 1080px;
    margin: auto;
}

:root {
    scroll-behavior: smooth;
    --itinerary-text-color:#FFFFFF;
}

header .tours-logo {
    background-image: url(../img/bcgd-chornobyl.jpg);
    background-size: cover;
    background-position: center;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 620px) {
    .main-line {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 801px) {
    .main-line {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.main-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    }

.header-tourslogo {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    font-family: Dosis, sans-serif;
    }
.logo img{
    width: 100px;
    height: 100px;
}
.header-tourslogotwo {
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    font-family: Dosis, sans-serif;
    }
header .container-fluid {
    color: #f1c324;
    font-size: 16px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
}

header .navbar-nav {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

@media (min-width: 620px) {
    .banner {
    display: grid;
    grid-template-colums: 1fr 1fr;
    }
    
.banner {
    justify-content: center;
    }
#banner {
    border-width: 10px;
    border-color: white;
    border-style: solid;
    margin-bottom: 50px;
    }

/* Sasha second page end */

/* Tanya Tkach second page start*/

.logo-page-two {
    color: yellow;
    font-size: 40px;
    text-align: center;
}

.text-page-two {
    text-align: center;
    color: white;
}

.column-page-two {
    color: white;
    font-size: 20px;
}

.yellow-text {
    color: yellow;
    font-size: 25px;
    font-weight: bolder;
}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}
@media (min-width: 420px) {
    .product-list {
        grid-template-columns: 1fr 1fr; 
    }
}
@media (min-width: 520px) {
    .product-list {
        grid-template-columns: 1fr 1fr 1fr; 
    }
}
@media (min-width: 620px) {
    .product-list {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
}
@media (min-width: 720px) {
    .product-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    }
}
